Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: commintlinter
        name: Commit Linter
        entry: python scripts/commit_msg_linter.py
        language: python
        stages: [commit-msg]
      - id: prettier-npx
        name: Prettier using npx
        language: system
        entry: 'npx prettier --config ./frontend/app/.prettierrc --write'
        files: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
      - id: test-backend
        name: Run backend tests
        stages: [pre-push]
        entry: python ./scripts/run_gradle.py test
        language: python
        files: ^backend/.*\.kt$
        pass_filenames: false
      - id: test-frontend
        name: Frontend Tests
        stages: [pre-push]
        entry: npm run test run --prefix frontend/app
        language: system
        files: ^frontend/app/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: https://github.com/corewar-teamprojekt/ktfmt-pre-commit-hook
    rev: 0.8.0
    hooks:
    - id: ktfmt
      args: [--dry-run, --kotlinlang-style]
      stages: [pre-commit]
      files: ^backend/.*\.kt$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.12.0
    hooks:
      - id: eslint
        name: eslint
        files: ^frontend/app/.*\.(js|jsx|ts|tsx)$
        args: ['--config', './frontend/app/eslint.config.js']

[#270] adjust e2e tests to match new userflow for parallel games
  e2e/tests/example.spec.ts
  e2e/tests/fullUserflow.spec.ts
Due: none

[#189] add player icons
  frontend/app/src/assets/bluePlayerIcon.svg
  frontend/app/src/assets/redPlayerIcon.svg
Due: none

[#270] adjust getLobbyStatusV1 in frontend to match corrected url
  frontend/app/src/pages/waitingForOpponent/WaitingForOpponentPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#189] start implementing first draft of PlayerSelectionPage
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#270] match lobby id field in getLobbies to updated backend
  backend/api/exampleRequests/lobbyStuffV1.http
  frontend/app/src/services/rest/LobbyReset.test.ts
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#270] simplify routing in player selection page
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#270] use new getLobbyStatus endpoint from apiV1 in resultDisplayPage
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.test.tsx
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#270] allow content type header
  backend/api/src/main/kotlin/software/shonk/Application.kt
Due: test-backend

[#270] use apiV1 getLobbyStatus endpoint in waitingForResult page
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx, test-frontend

[#270] player code input page now uses correct apiV1 submit endpoint
  frontend/app/src/pages/playerCodeInput/PlayerCodingPage.test.tsx
  frontend/app/src/pages/playerCodeInput/PlayerCodingPage.tsx
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#270] use apiV1 getLobbyStatus endpoint in waitingForOpponentPage
  frontend/app/src/pages/waitingForOpponent/WaitingForOpponent.tsx
  frontend/app/src/pages/waitingForOpponent/WaitingForOpponentPage.test.tsx
Due: prettier-npx, test-frontend

[#288] Add tests to check allowing missing B-Field in parser
  backend/shork/src/test/kotlin/compiler/TestParser.kt
Due: test-backend

[#288] Allow missing B-Field in parser
  backend/shork/src/main/kotlin/internal/compiler/Parser.kt
  backend/shork/src/main/kotlin/internal/compiler/TokenType.kt
Due: test-backend

[#290] Fix v1 API for lobbystatus responding with `UNDECIDED` instead of `DRAW`
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/V0ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/V0ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/GameResult.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
  backend/api/src/main/kotlin/software/shonk/domain/V0Result.kt
  backend/api/src/main/kotlin/software/shonk/domain/V0Status.kt
  backend/api/src/main/kotlin/software/shonk/domain/V0Winner.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
  backend/api/src/test/kotlin/software/shonk/domain/LobbyTest.kt
Due: test-backend

[#89] implement ResultDisplayPlage v2 component
  frontend/app/src/assets/icon.svg
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#89] implement new tests for resultDisplayPageq
  frontend/app/src/TestFactories.ts
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.test.tsx
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#89] fix e2e tests (still fails because of backend)
  e2e/tests/fullUserflow.spec.ts
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#0] Fix incorrect compilation error when filling in missing B-Field
  backend/shork/src/main/kotlin/internal/compiler/Parser.kt
Due: test-backend

[#0] Make parser more robust against erroneous code to provide better error messages
  backend/shork/src/main/kotlin/internal/compiler/Parser.kt
  backend/shork/src/main/kotlin/internal/compiler/TokenType.kt
Due: test-backend

[#0] Move modifier guessing to separate method
  backend/shork/src/main/kotlin/internal/compiler/Parser.kt
Due: test-backend

[#221] add docs to all api V1 endpoints to prepare for the migration to OpenAPI
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
Due: test-backend

[#221] generate openapi.yaml for OpenAPI
  backend/api/src/main/resources/openapi/v1/openapi.yaml
Due: none

[#221] add route to Application.kt and add openapiv1.http for OpenAPI
  backend/api/exampleRequests/openapiv1.http
  backend/api/src/main/kotlin/software/shonk/Application.kt
Due: test-backend

[#221] add scalar.html for API V1, removed API V0 docs from API V1 docs and resolve most of the change request
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/resources/openapi/v1/openapi.yaml
  backend/api/src/main/resources/openapi/v1/scalar.html
Due: test-backend

[#262] add sequence diagram to detail endpoint behavior
  architecture.drawio
Due: none

[#105] housekeeping
  architecture.drawio
Due: none

[#297] move icons into public folder for consistency reasons
  frontend/app/public/bluePlayerIcon.svg
  frontend/app/public/corewarIcon.svg
  frontend/app/public/redPlayerIcon.svg
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#187] Hexagonal tile component
  frontend/app/src/components/hexagonalTile/HexagonalTile.css
  frontend/app/src/components/hexagonalTile/HexagonalTile.tsx
Due: prettier-npx, test-frontend

[#187] Hexagonal Board
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.css
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.test.tsx
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
Due: prettier-npx, test-frontend

[#187] hexagonal board background
  frontend/app/src/components/hexagonalBoardBackground/HexagonalBoardBackground.css
  frontend/app/src/components/hexagonalBoardBackground/HexagonalBoardBackground.tsx
  frontend/app/src/main.tsx
  frontend/app/src/pages/basePage/BasePage.tsx
Due: prettier-npx, test-frontend

[#221] edit some endpoint comments for json format to be cleaner in docs and regenerate openapi.yaml
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/resources/openapi/v1/openapi.yaml
Due: test-backend

[#297] add icon without glow effect to use as tab icon
  frontend/app/index.html
  frontend/app/public/corewarTabIcon.svg
Due: none
