Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

prettier-npx:
  name: Prettier using npx
  language: system
  entry: npx prettier --config ./frontend/app/.prettierrc --write

test-backend:
  name: Run backend tests
  stages:
  - pre-push
  entry: python ./scripts/run_gradle.py test
  language: python
  pass_filenames: false

test-frontend:
  name: Frontend Tests
  stages:
  - pre-push
  entry: npm run test run --prefix frontend/app
  language: system
  pass_filenames: false

[#221] fix json formatting in scalar and edit url in openapi.yaml
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/resources/openapi/v1/openapi.yaml
Due: test-backend

[#0] Add default modifier tests
  backend/shork/src/main/kotlin/internal/compiler/Parser.kt
  backend/shork/src/test/kotlin/compiler/TestParser.kt
Due: test-backend

[#0] enable gzip compression for json
  misc/nginx.conf
Due: none

[#0] Fix shork not properly returning game round information
  backend/shork/src/main/kotlin/Shork.kt
  backend/shork/src/test/kotlin/TestShork.kt
Due: test-backend

[#302] fix negative indexing handling in memorycore resolveAddressBounds
  backend/shork/src/main/kotlin/internal/memory/MemoryCore.kt
Due: test-backend

[#302] add tests for negative indexing smaller than -coreSize
  backend/shork/src/test/kotlin/memory/TestMemoryCore.kt
Due: test-backend

[#300] extend playwright timeouts
  e2e/tests/fullUserflow.spec.ts
Due: none

[#300] Extend lobby status endpoint to also return round information
  backend/api/exampleRequests/lobbyStuffV1.http
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
  backend/api/src/main/kotlin/software/shonk/domain/RoundInformation.kt
  backend/api/src/main/kotlin/software/shonk/domain/Status.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
  backend/api/src/test/kotlin/software/shonk/domain/LobbyTest.kt
Due: test-backend

[#300] Adjust mockshork to also return game visualization data
  backend/shork/src/main/kotlin/MockShork.kt
Due: test-backend

[#300] Add IT tests
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#300] Add negative game visualization data test
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#154] check if uploaded file contains unreadable characters
  frontend/app/src/components/CodeEditor/CodeEditor.tsx
Due: prettier-npx, test-frontend

[#221] improve json formatting for complex jsons in openapi.yaml
  backend/api/src/main/resources/openapi/v1/openapi.yaml
Due: none

[#314] add gradle plugin for test output
  backend/api/build.gradle.kts
  backend/shork/build.gradle.kts
Due: none

[#307] add 404 response to spec for missing lobby on GET status
  api-v1.md
Due: none

[#0] split ShorkInterpreterControllerV1IT into nested internal classes
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#308] add test for status code when submitting code for invalid lobby
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#308] fix status code when submitting code for invalid lobby
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
Due: test-backend

[#306] update architecture diagram - add get settings endpoint
  architecture.drawio
Due: none

[#306] add get settings endpoint to spec
  api-v1.md
Due: none

[#317] Update spec: Add flag to lobby status endpoint that allows exclusion of game visualization data
  api-v1.md
Due: none

[#221] add route to Application.kt and add openapiv1.http for OpenAPI
  backend/api/exampleRequests/openapiv1.http
  backend/api/src/main/kotlin/software/shonk/Application.kt
Due: test-backend

[#221] add scalar.html for API V1, removed API V0 docs from API V1 docs and resolve most of the change request
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/resources/openapi/v1/openapi.yaml
  backend/api/src/main/resources/openapi/v1/scalar.html
Due: test-backend

[#221] edit some endpoint comments for json format to be cleaner in docs and regenerate openapi.yaml
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/resources/openapi/v1/openapi.yaml
Due: test-backend

[#221] add docs to all api V1 endpoints to prepare for the migration to OpenAPI
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
Due: test-backend

[#221] generate openapi.yaml for OpenAPI
  backend/api/src/main/resources/openapi/v1/openapi.yaml
Due: none

[#310] getLobbySettings method created alongside a helping data class
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/InterpreterSettings.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#319] make e2e tests run in parallel
  e2e/package.json
Due: none

[#311] add set settings endpoint to spec
  api-v1.md
Due: none

[#311] update architecture diagram- add set settings endpoint
  architecture.drawio
Due: none

[#310] endpoint for get settings implemented alongside its tests
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#263] Add new tests for read and write distance
  backend/shork/src/test/kotlin/memory/TestMemoryCore.kt
Due: test-backend

[#263] Refactor address resolving
  backend/shork/src/main/kotlin/internal/instruction/AbstractArithmeticInstruction.kt
  backend/shork/src/main/kotlin/internal/instruction/AbstractInstruction.kt
  backend/shork/src/main/kotlin/internal/instruction/Dat.kt
  backend/shork/src/main/kotlin/internal/instruction/Djn.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmn.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmp.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmz.kt
  backend/shork/src/main/kotlin/internal/instruction/Ldp.kt
  backend/shork/src/main/kotlin/internal/instruction/Mov.kt
  backend/shork/src/main/kotlin/internal/instruction/Nop.kt
  backend/shork/src/main/kotlin/internal/instruction/Seq.kt
  backend/shork/src/main/kotlin/internal/instruction/Slt.kt
  backend/shork/src/main/kotlin/internal/instruction/Sne.kt
  backend/shork/src/main/kotlin/internal/instruction/Spl.kt
  backend/shork/src/main/kotlin/internal/instruction/Stp.kt
  backend/shork/src/main/kotlin/internal/memory/ICore.kt
  backend/shork/src/main/kotlin/internal/memory/MemoryCore.kt
  backend/shork/src/main/kotlin/internal/memory/ResolvedAddresses.kt
  backend/shork/src/main/kotlin/internal/process/Process.kt
  backend/shork/src/test/kotlin/instruction/TestAdd.kt
  backend/shork/src/test/kotlin/instruction/TestDat.kt
  backend/shork/src/test/kotlin/instruction/TestDiv.kt
  backend/shork/src/test/kotlin/instruction/TestJmp.kt
  backend/shork/src/test/kotlin/instruction/TestMod.kt
  backend/shork/src/test/kotlin/instruction/TestMov.kt
  backend/shork/src/test/kotlin/instruction/TestMul.kt
  backend/shork/src/test/kotlin/instruction/TestNop.kt
  backend/shork/src/test/kotlin/instruction/TestSeq.kt
  backend/shork/src/test/kotlin/instruction/TestSlt.kt
  backend/shork/src/test/kotlin/instruction/TestSne.kt
  backend/shork/src/test/kotlin/instruction/TestSpl.kt
  backend/shork/src/test/kotlin/instruction/TestSub.kt
  backend/shork/src/test/kotlin/memory/TestMemoryCore.kt
  backend/shork/src/test/kotlin/mocks/KillProgramInstruction.kt
  backend/shork/src/test/kotlin/mocks/MockInstruction.kt
Due: test-backend

[#310] endpoint for get settings implemented alongside its tests
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#294] greatly improve performance of hexBoard updates
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.css
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.test.tsx
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalTile/HexagonalTile.css
  frontend/app/src/components/hexagonalTile/HexagonalTile.tsx
Due: prettier-npx, test-frontend

[#294] WIP: game visu page draft
  frontend/app/src/main.tsx
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
  frontend/app/src/pages/gameVisu/gameVisu.css
Due: prettier-npx, test-frontend

Path conditions:
  prettier-npx: any of: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  test-backend: any of: ^backend/.*\.kt$
  test-frontend: any of: ^frontend/app/.*\.(js|jsx|ts|tsx)$
