Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

prettier-npx:
  name: Prettier using npx
  language: system
  entry: npx prettier --config ./frontend/app/.prettierrc --write

test-backend:
  name: Run backend tests
  stages:
  - pre-push
  entry: python ./scripts/run_gradle.py test
  language: python
  pass_filenames: false

test-frontend:
  name: Frontend Tests
  stages:
  - pre-push
  entry: npm run test run --prefix frontend/app
  language: system
  pass_filenames: false

[#277] Fix Settings containing invalid default values
  backend/api/src/main/kotlin/software/shonk/application/service/V0ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
Due: test-backend

[#157] Respect defaultInstruction in Shork and adjust API for potential failure
  backend/api/src/main/kotlin/software/shonk/application/service/V0ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
  backend/api/src/test/kotlin/software/shonk/domain/LobbyTest.kt
  backend/shork/src/main/kotlin/IShork.kt
  backend/shork/src/main/kotlin/MockShork.kt
  backend/shork/src/main/kotlin/Settings.kt
  backend/shork/src/main/kotlin/Shork.kt
  backend/shork/src/test/kotlin/TestShork.kt
  backend/shork/src/test/kotlin/statistics/TestGameDataCollector.kt
Due: test-backend

[#157] Add tests for Settings
  backend/shork/src/test/kotlin/TestSettings.kt
  backend/shork/src/test/kotlin/TestShork.kt
Due: test-backend

[#279] changes playersJoined in GET /api/v1/lobby to actually return playersJoined
  api-v1.md
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#276] Add gamedata.md to document the high level process of game data collection and visualization
  gamedata.md
  gamedata.txt
Due: none

[#276] Update architecture diagram
  architecture.drawio
Due: none

[#276] Adjust API spec
  api-v1.md
Due: none

[#89] implement ResultDisplayPlage v2 component
  frontend/app/src/assets/icon.svg
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#89] implement new tests for resultDisplayPageq
  frontend/app/src/TestFactories.ts
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.test.tsx
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#283] adjust get lobby status url to match spec
  backend/api/exampleRequests/lobbyStuffV1.http
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#285] submit code endpoint in v1 now expects body according to spec
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#270] resultDisplay now logs you out and routes to lobby-selection
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.test.tsx
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#189] add new class LobbyRest and implement some endpoint-usages
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/services/rest/LobbyRest.ts
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#270] use new getLobbyStatus endpoint from apiV1 in resultDisplayPage
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.test.tsx
  frontend/app/src/pages/resultDisplayPage/ResultDisplayPage.tsx
Due: prettier-npx, test-frontend

[#189] add player icons
  frontend/app/src/assets/bluePlayerIcon.svg
  frontend/app/src/assets/redPlayerIcon.svg
Due: none

[#270] match lobby id field in getLobbies to updated backend
  backend/api/exampleRequests/lobbyStuffV1.http
  frontend/app/src/services/rest/LobbyReset.test.ts
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#270] correct mapping and testing of lobbies in getLobbiesV1
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/services/rest/LobbyReset.test.ts
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#270] simplify routing in player selection page
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#270] use apiV1 getLobbyStatus endpoint in waitingForOpponentPage
  frontend/app/src/pages/waitingForOpponent/WaitingForOpponent.tsx
  frontend/app/src/pages/waitingForOpponent/WaitingForOpponentPage.test.tsx
Due: prettier-npx, test-frontend

[#270] player code input page now uses correct apiV1 submit endpoint
  frontend/app/src/pages/playerCodeInput/PlayerCodingPage.test.tsx
  frontend/app/src/pages/playerCodeInput/PlayerCodingPage.tsx
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#189] clean up PlayerSelection to fit new api v1 specs
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/pages/playerSelection/PlayerSelection.test.tsx
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#270] adjust e2e tests to match new userflow for parallel games
  e2e/tests/example.spec.ts
  e2e/tests/fullUserflow.spec.ts
Due: none

[#189] start implementing first draft of PlayerSelectionPage
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#270] add test for create lobby rest endpoint accessor
  frontend/app/src/services/rest/LobbyRest.test.ts
Due: prettier-npx, test-frontend

[#189] finish PlayerSelectionPage and implement its test
  frontend/app/src/pages/playerSelection/PlayerSelection.module.css
  frontend/app/src/pages/playerSelection/PlayerSelection.test.tsx
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#270] allow content type header
  backend/api/src/main/kotlin/software/shonk/Application.kt
Due: test-backend

[#270] use apiV1 getLobbyStatus endpoint in waitingForResult page
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx, test-frontend

[#270] landing page now routes to lobby-selection
  frontend/app/src/pages/landingPage/LandingPage.test.tsx
  frontend/app/src/pages/landingPage/LandingPage.tsx
Due: prettier-npx, test-frontend

[#270] adjust getLobbyStatusV1 in frontend to match corrected url
  frontend/app/src/pages/waitingForOpponent/WaitingForOpponentPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

Path conditions:
  prettier-npx: any of: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  test-backend: any of: ^backend/.*\.kt$
  test-frontend: any of: ^frontend/app/.*\.(js|jsx|ts|tsx)$
