Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, ktfmt-gradle, ktfmt-gradle-api

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier-npx
        name: Prettier using npx
        language: system
        entry: 'npx prettier --config ./frontend/app/.prettierrc --write'
        files: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
      - id: ktfmt-gradle
        name: ktfmt for mars-interpreter
        language: system
        entry: bash -c 'cd ./backend/mars-interpreter && ./gradlew ktfmtCheck && ./gradlew ktlintCheck'
        files: ^backend/mars-interpreter/.*\.kt$
      - id: ktfmt-gradle-api
        name: ktfmt for api
        language: system
        entry: bash -c 'cd ./backend/api && ./gradlew ktfmtCheck && ./gradlew ktlintCheck'
        files: ^backend/api/.*\.kt$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.12.0
    hooks:
      - id: eslint
        name: eslint
        files: ^frontend/app/.*\.(js|jsx|ts|tsx)$
        args: ['--config', './frontend/app/eslint.config.js']

frontend: modify cicd to only run on frontend changes
  .github/workflows/frontend.yml
Due: none

backend: add cicd
  .github/workflows/backend.yml
Due: none

Fix failing test
  backend/api/src/main/kotlin/software/shonk/Application.kt
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/HelloWorldController.kt
  backend/api/src/main/kotlin/software/shonk/application/service/HelloWorldService.kt
  backend/api/src/test/kotlin/EngineMainTest.kt
Due: ktfmt-gradle-api

Fix module in test
  backend/api/src/test/kotlin/EngineMainTest.kt
Due: ktfmt-gradle-api

Set Java 21 as version
  backend/api/build.gradle.kts
  backend/mars-interpreter/build.gradle.kts
Due: none

cicd: switch java versions
  .github/workflows/backend.yml
Due: none

backend: remove ktlint
  .github/workflows/backend.yml
  .pre-commit-config.yaml
  backend/api/build.gradle.kts
  backend/mars-interpreter/build.gradle.kts
Due: none

Run formatter
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/HelloWorldController.kt
Due: ktfmt-gradle-api

Setup backend as root-project with subprojects
  backend/build.gradle.kts
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/mars-interpreter/src/main/kotlin/Main.kt
  backend/settings.gradle.kts
Due: ktfmt-gradle

Implement test importing other subproject
  backend/mars-interpreter/src/main/kotlin/Main.kt
  backend/settings.gradle.kts
  backend/testing/build.gradle.kts
  backend/testing/src/main/kotlin/Main.kt
Due: ktfmt-gradle

Organize backend into root-sub project structure
  backend/api/.gitignore
  backend/api/gradle/wrapper/gradle-wrapper.jar
  backend/api/gradle/wrapper/gradle-wrapper.properties
  backend/api/gradlew
  backend/api/gradlew.bat
  backend/api/settings.gradle.kts
  backend/mars-interpreter/gradle/wrapper/gradle-wrapper.jar
  backend/mars-interpreter/gradle/wrapper/gradle-wrapper.properties
  backend/mars-interpreter/gradlew
  backend/mars-interpreter/gradlew.bat
  backend/mars-interpreter/settings.gradle.kts
Due: none

Fix CI(?)
  .github/workflows/backend.yml
Due: none

basic sequence diagram draft for MVP
  architecture.drawio
Due: none

indicate user status in sequence diagram
  architecture.drawio
Due: none

Add first API draft
  api.md
Due: none

finish sequence diagram according to api spec
  architecture.drawio
Due: none

remove default frontend
  frontend/app/README.md
  frontend/app/src/App.css
  frontend/app/src/App.tsx
  frontend/app/src/assets/react.svg
  frontend/app/src/index.css
Due: prettier-npx

fix lint
  frontend/app/src/App.tsx
Due: prettier-npx

[26] implement authentication service
  frontend/app/src/domain/user.ts
  frontend/app/src/domain/validUsernames.ts
  frontend/app/src/services/authenticationService.test.ts
  frontend/app/src/services/authenticationService.ts
Due: prettier-npx

[21] setup shadcn and dependencies and add functionless header
  frontend/app/components.json
  frontend/app/index.html
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/postcss.config.js
  frontend/app/src/App.tsx
  frontend/app/src/components/Header.css
  frontend/app/src/components/Header.test.ts
  frontend/app/src/components/Header.tsx
  frontend/app/src/index.css
  frontend/app/src/lib/utils.ts
  frontend/app/tailwind.config.js
  frontend/app/tsconfig.app.json
  frontend/app/tsconfig.json
  frontend/app/vite.config.ts
Due: prettier-npx

add shadcn ThemeProvider
  frontend/app/src/App.tsx
  frontend/app/src/components/ThemeProvider.tsx
Due: prettier-npx

[#31] add commit linting
  .pre-commit-config.yaml
  commitlint.config.js
Due: none

[#33] add a CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[#33] add reference to CONTRIBUTING.md in README.md
  README.md
Due: none

[#33] add merging notice to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[#37] add Heading to README
  README.md
Due: none

[#26] rework auth service to reducer / context combo
  frontend/app/src/App.tsx
  frontend/app/src/components/ChangeUser.tsx
  frontend/app/src/components/Header.tsx
  frontend/app/src/services/UserContext.tsx
  frontend/app/src/services/authenticationService.test.ts
  frontend/app/src/services/authenticationService.ts
Due: prettier-npx

[#31,#39] refine commitlint regex
  commitlint.config.js
Due: none

[#26] set up unit testing
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/components/ThemeProvider.tsx
  frontend/app/src/exampleFile.test.ts
  frontend/app/src/exampleFile.ts
  frontend/app/src/services/UserContext.test.tsx
  frontend/app/vite.config.ts
Due: prettier-npx

[#26] finish UserContext / Authentication service testing
  frontend/app/src/components/Header.test.ts
  frontend/app/src/services/UserContext.test.tsx
Due: prettier-npx

[#17] First S.H.O.R.K Draft TODO
  backend/mars-interpreter/src/main/kotlin/AbstractInstruction.kt
  backend/mars-interpreter/src/main/kotlin/AbstractProcess.kt
  backend/mars-interpreter/src/main/kotlin/AbstractProgram.kt
  backend/mars-interpreter/src/main/kotlin/AddressMode.kt
  backend/mars-interpreter/src/main/kotlin/ICore.kt
  backend/mars-interpreter/src/main/kotlin/ISettings.kt
  backend/mars-interpreter/src/main/kotlin/IShork.kt
  backend/mars-interpreter/src/main/kotlin/Modifier.kt
  backend/mars-interpreter/src/main/kotlin/Shork.kt
Due: ktfmt-gradle

[#26] extend UserContext testing suite
  frontend/app/src/services/UserContext.test.tsx
  frontend/app/src/services/UserContext.tsx
Due: prettier-npx
