Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, ktfmt-gradle, ktfmt-gradle-api

prettier-npx:
  name: Prettier using npx
  language: system
  entry: npx prettier --config ./frontend/app/.prettierrc --write

ktfmt-gradle:
  name: ktfmt for mars-interpreter
  language: system
  entry: bash -c 'cd ./backend/mars-interpreter && ./gradlew ktfmtCheck'

ktfmt-gradle-api:
  name: ktfmt for api
  language: system
  entry: bash -c 'cd ./backend/api && ./gradlew ktfmtCheck'

[#17] Move things into own packages, Continue sketching out skeleton
  backend/mars-interpreter/src/main/kotlin/AbstractProcess.kt
  backend/mars-interpreter/src/main/kotlin/AbstractProgram.kt
  backend/mars-interpreter/src/main/kotlin/ISettings.kt
  backend/mars-interpreter/src/main/kotlin/Program.kt
  backend/mars-interpreter/src/main/kotlin/Shork.kt
  backend/mars-interpreter/src/main/kotlin/instruction/AbstractInstruction.kt
  backend/mars-interpreter/src/main/kotlin/memory/ICore.kt
  backend/mars-interpreter/src/main/kotlin/process/AbstractProcess.kt
  backend/mars-interpreter/src/main/kotlin/program/AbstractProgram.kt
  backend/mars-interpreter/src/main/kotlin/settings/ISettings.kt
Due: ktfmt-gradle

[#26] extend UserContext testing suite
  frontend/app/src/services/UserContext.test.tsx
  frontend/app/src/services/UserContext.tsx
Due: prettier-npx

[#41] fix pre-commit hook
  .pre-commit-config.yaml
Due: none

[#44] Create default issue/story template
  .github/ISSUE_TEMPLATE/default-story.md
Due: none

[#21] test header functionality for mvp
  frontend/app/src/components/Header.css
  frontend/app/src/components/Header.test.ts
  frontend/app/src/components/Header.test.tsx
  frontend/app/src/components/Header.tsx
Due: prettier-npx

[#17] Add sample Jump instruction implementation
  backend/mars-interpreter/src/main/kotlin/IShork.kt
  backend/mars-interpreter/src/main/kotlin/instruction/AbstractInstruction.kt
  backend/mars-interpreter/src/main/kotlin/instruction/Jump.kt
  backend/mars-interpreter/src/main/kotlin/memory/ICore.kt
  backend/mars-interpreter/src/main/kotlin/process/AbstractProcess.kt
  backend/mars-interpreter/src/main/kotlin/program/AbstractProgram.kt
  backend/mars-interpreter/src/main/kotlin/program/Program.kt
Due: ktfmt-gradle

[#46] allow space inbetween issue numbers in commitlint
  commitlint.config.js
Due: none

[#17] Add TODO
  backend/mars-interpreter/src/main/kotlin/process/AbstractProcess.kt
Due: ktfmt-gradle

[#17] Update comment
  backend/mars-interpreter/src/main/kotlin/program/AbstractProgram.kt
Due: ktfmt-gradle

[#0] slightly restructure frontend directories and names
  frontend/app/src/App.tsx
  frontend/app/src/components/header/Header.css
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
  frontend/app/src/components/tempHelpersForTestingManually/RemoveBeforeProdMvpUserTester.tsx
  frontend/app/src/services/userContext/UserContext.test.tsx
  frontend/app/src/services/userContext/UserContext.tsx
Due: prettier-npx

[#29] create simple loading spinner
  frontend/app/src/App.tsx
  frontend/app/src/components/loadingSpinner/LoadingSpinner.module.css
  frontend/app/src/components/loadingSpinner/LoadingSpinner.tsx
Due: prettier-npx

[#17] Add split command
  backend/mars-interpreter/src/main/kotlin/instruction/Split.kt
  backend/mars-interpreter/src/main/kotlin/program/AbstractProgram.kt
Due: ktfmt-gradle

[#24] implement simple footer
  frontend/app/src/App.tsx
  frontend/app/src/components/footer/Footer.module.css
  frontend/app/src/components/footer/Footer.tsx
Due: prettier-npx

[#17] Add DAT command
  backend/mars-interpreter/src/main/kotlin/instruction/Dat.kt
  backend/mars-interpreter/src/main/kotlin/program/AbstractProgram.kt
Due: ktfmt-gradle

[#48] setup react-router including basic example
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.tsx
  frontend/app/src/main.tsx
  frontend/app/src/pages/ErrorPage.tsx
Due: prettier-npx

[#47] use my fork of ktfmt pre-commit hook
  .pre-commit-config.yaml
Due: none

[#47] move ktfmt to corewar-teamprojekt
  .pre-commit-config.yaml
Due: none

[#49] setup base page and move providers to main to share it between all pages
  frontend/app/src/App.tsx
  frontend/app/src/components/footer/Footer.module.css
  frontend/app/src/components/header/Header.css
  frontend/app/src/main.tsx
  frontend/app/src/pages/basePage/BasePage.module.css
  frontend/app/src/pages/basePage/BasePage.tsx
  frontend/app/src/vars.css
Due: prettier-npx

implement ProgrammInput component
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/components/mainContent/playerInput/ProgramInput.tsx
  frontend/app/src/components/ui/button.tsx
  frontend/app/src/components/ui/card.tsx
  frontend/app/src/components/ui/input.tsx
  frontend/app/src/components/ui/tabs.tsx
  frontend/app/src/components/ui/textarea.tsx
Due: prettier-npx

#22 write tests for ProgramInput Component
  frontend/app/src/App.tsx
  frontend/app/src/components/mainContent/playerInput/ProgramInput.test.tsx
Due: prettier-npx

#22 ignore warnings from official shadcn components
  frontend/app/src/components/ui/button.tsx
  frontend/app/src/components/ui/input.tsx
  frontend/app/src/components/ui/textarea.tsx
Due: prettier-npx

[#30] draft waiting for result page
  frontend/app/package-lock.json
  frontend/app/src/App.tsx
  frontend/app/src/lib/usePageVisibility.ts
  frontend/app/src/main.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResult.module.css
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx

[#30] fix styling
  frontend/app/src/App.tsx
Due: prettier-npx

[#17] Add interpreter skeleton
  backend/mars-interpreter/src/main/kotlin/IShork.kt
  backend/mars-interpreter/src/main/kotlin/internal/IInternalShork.kt
  backend/mars-interpreter/src/main/kotlin/internal/addressing/AddressMode.kt
  backend/mars-interpreter/src/main/kotlin/internal/addressing/Modifier.kt
  backend/mars-interpreter/src/main/kotlin/internal/instruction/AbstractInstruction.kt
  backend/mars-interpreter/src/main/kotlin/internal/memory/ICore.kt
  backend/mars-interpreter/src/main/kotlin/internal/process/AbstractProcess.kt
  backend/mars-interpreter/src/main/kotlin/internal/program/AbstractProgram.kt
  backend/mars-interpreter/src/main/kotlin/settings/AbstractSettings.kt
Due: ktfmt-gradle

[#30] refactoring and cleanup
  frontend/app/src/domain/GameState.ts
  frontend/app/src/domain/GameWinner.ts
  frontend/app/src/domain/StatusResponse.ts
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
  frontend/app/src/pages/waitingForResult/consts.ts
Due: prettier-npx

[#30] last refactorings to finish waiting for result page for now
  frontend/app/src/domain/consts.ts
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx

Update issue templates
  .github/ISSUE_TEMPLATE/default-story.md
Due: none

Path conditions:
  prettier-npx: any of: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  ktfmt-gradle: any of: ^backend/mars-interpreter/.*\.kt$
  ktfmt-gradle-api: any of: ^backend/api/.*\.kt$
