Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

prettier-npx:
  name: Prettier using npx
  language: system
  entry: npx prettier --config ./frontend/app/.prettierrc --write

test-backend:
  name: Run backend tests
  stages:
  - pre-push
  entry: python ./scripts/run_gradle.py test
  language: python
  pass_filenames: false

test-frontend:
  name: Frontend Tests
  stages:
  - pre-push
  entry: npm run test run --prefix frontend/app
  language: system
  pass_filenames: false

[#215] adjust v1 join spec to return 404 when there is no lobby with the specified id
  api-v1.md
Due: none

[#215] add sequence diagram detailing the v1 join lobby endpoint
  architecture.drawio
Due: none

[#161] setup scalar as openAPI platform
  backend/api/exampleRequests/lobbyStuffV1.http
  backend/api/exampleRequests/openapiv0.http
  backend/api/src/main/kotlin/software/shonk/Application.kt
  backend/api/src/main/resources/openapi/v0/openapi.yaml
  backend/api/src/main/resources/openapi/v0/scalar.html
  backend/api/src/main/resources/static/inter-cyrillic-ext.woff2
  backend/api/src/main/resources/static/inter-cyrillic.woff2
  backend/api/src/main/resources/static/inter-greek-ext.woff2
  backend/api/src/main/resources/static/inter-greek.woff2
  backend/api/src/main/resources/static/inter-latin-ext.woff2
  backend/api/src/main/resources/static/inter-latin.woff2
  backend/api/src/main/resources/static/inter-vietnamese.woff2
  backend/api/src/main/resources/static/mono-cyrillic-ext.woff2
  backend/api/src/main/resources/static/mono-cyrillic.woff2
  backend/api/src/main/resources/static/mono-greek.woff2
  backend/api/src/main/resources/static/mono-latin-ext.woff2
  backend/api/src/main/resources/static/mono-latin.woff2
  backend/api/src/main/resources/static/mono-vietnamese.woff2
  backend/api/src/main/resources/static/scalar.js
  misc/nginx.conf
Due: test-backend

[#161] delete apiV0.md
  api-v0.md
Due: none

[#161] write doc comments for v0 endpoints, and re-generate corresponding openapi.yaml
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/V0ShorkInterpreterController.kt
  backend/api/src/main/resources/openapi/v0/openapi.yaml
Due: test-backend

[#201, #254] introduce default named parameters for aLobby testfactory function
  frontend/app/src/TestFactories.ts
Due: prettier-npx, test-frontend

[#201] hide lobby info button if there is no current lobby
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
Due: prettier-npx, test-frontend

[#201] lobby id in lobbyinfo button in header reacts to lobbyState
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
Due: prettier-npx, test-frontend

[#201] lobby info button copies lobby id to clipboard on click
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
Due: prettier-npx, test-frontend

[#201] style and layout lobby info button according to design
  frontend/app/public/copy.svg
  frontend/app/src/components/header/Header.css
  frontend/app/src/components/header/Header.tsx
Due: prettier-npx, test-frontend

[#201] add lobbyid button to header
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
Due: prettier-npx, test-frontend

[#201] display info toast on lobby info button click
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
Due: prettier-npx, test-frontend

[#189] add player icons
  frontend/app/src/assets/bluePlayerIcon.svg
  frontend/app/src/assets/redPlayerIcon.svg
Due: none

[#189] clean up PlayerSelection to fit new api v1 specs
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/pages/playerSelection/PlayerSelection.test.tsx
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
  frontend/app/src/services/rest/LobbyRest.ts
Due: prettier-npx, test-frontend

[#189] add new class LobbyRest and implement some endpoint-usages
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/services/rest/LobbyRest.ts
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#189] start implementing first draft of PlayerSelectionPage
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#189] finish PlayerSelectionPage and implement its test
  frontend/app/src/pages/playerSelection/PlayerSelection.module.css
  frontend/app/src/pages/playerSelection/PlayerSelection.test.tsx
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#226] Implement compile api
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
Due: test-backend

[#226] Implement compile api tests
  backend/api/src/main/kotlin/software/shonk/domain/CompileError.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#271] change lobbyId to id
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/LobbyStatus.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#273] change create lobby response format to match spec
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#89] start working on resultdeisplayV2
  frontend/app/src/components/jsonDisplayV2/JsonDisplayV2.module.css
  frontend/app/src/components/jsonDisplayV2/JsonDisplayV2.tsx
  frontend/app/src/pages/resultDisplayPageV2/ResultDisplayPageV2.tsx
Due: prettier-npx, test-frontend

[#206] Make AbstractInstruction immutable
  backend/shork/src/main/kotlin/internal/instruction/AbstractInstruction.kt
Due: test-backend

[#206] Adjust AbstractArithmeticInstruction to deal with the immutability changes
  backend/shork/src/main/kotlin/internal/instruction/AbstractArithmeticInstruction.kt
Due: test-backend

[#206] Modify instructions to deal with immutability changes
  backend/shork/src/main/kotlin/internal/instruction/Add.kt
  backend/shork/src/main/kotlin/internal/instruction/Dat.kt
  backend/shork/src/main/kotlin/internal/instruction/Div.kt
  backend/shork/src/main/kotlin/internal/instruction/Djn.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmn.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmp.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmz.kt
  backend/shork/src/main/kotlin/internal/instruction/Ldp.kt
  backend/shork/src/main/kotlin/internal/instruction/Mod.kt
  backend/shork/src/main/kotlin/internal/instruction/Mov.kt
  backend/shork/src/main/kotlin/internal/instruction/Mul.kt
  backend/shork/src/main/kotlin/internal/instruction/Nop.kt
  backend/shork/src/main/kotlin/internal/instruction/Seq.kt
  backend/shork/src/main/kotlin/internal/instruction/Slt.kt
  backend/shork/src/main/kotlin/internal/instruction/Sne.kt
  backend/shork/src/main/kotlin/internal/instruction/Spl.kt
  backend/shork/src/main/kotlin/internal/instruction/Stp.kt
  backend/shork/src/main/kotlin/internal/instruction/Sub.kt
  backend/shork/src/test/kotlin/instruction/TestDjn.kt
  backend/shork/src/test/kotlin/instruction/TestMov.kt
  backend/shork/src/test/kotlin/mocks/KillProgramInstruction.kt
  backend/shork/src/test/kotlin/mocks/MockInstruction.kt
Due: test-backend

[#206] Adjust MemoryCore to deal with the immutability changes
  backend/shork/src/main/kotlin/internal/memory/MemoryCore.kt
Due: test-backend

[#206] Add tests for instructions
  backend/shork/src/test/kotlin/instruction/TestAdd.kt
  backend/shork/src/test/kotlin/instruction/TestDat.kt
  backend/shork/src/test/kotlin/instruction/TestDiv.kt
  backend/shork/src/test/kotlin/instruction/TestDjn.kt
  backend/shork/src/test/kotlin/instruction/TestJmn.kt
  backend/shork/src/test/kotlin/instruction/TestJmp.kt
  backend/shork/src/test/kotlin/instruction/TestJmz.kt
  backend/shork/src/test/kotlin/instruction/TestMod.kt
  backend/shork/src/test/kotlin/instruction/TestMov.kt
  backend/shork/src/test/kotlin/instruction/TestMul.kt
  backend/shork/src/test/kotlin/instruction/TestNop.kt
  backend/shork/src/test/kotlin/instruction/TestSeq.kt
  backend/shork/src/test/kotlin/instruction/TestSlt.kt
  backend/shork/src/test/kotlin/instruction/TestSne.kt
  backend/shork/src/test/kotlin/instruction/TestSpl.kt
  backend/shork/src/test/kotlin/instruction/TestSub.kt
Due: test-backend

[#157] Respect defaultInstruction in Shork and adjust API for potential failure
  backend/api/src/main/kotlin/software/shonk/application/service/V0ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
  backend/api/src/test/kotlin/software/shonk/domain/LobbyTest.kt
  backend/shork/src/main/kotlin/IShork.kt
  backend/shork/src/main/kotlin/MockShork.kt
  backend/shork/src/main/kotlin/Settings.kt
  backend/shork/src/main/kotlin/Shork.kt
  backend/shork/src/test/kotlin/TestShork.kt
  backend/shork/src/test/kotlin/statistics/TestGameDataCollector.kt
Due: test-backend

[#157] Add tests for Settings
  backend/shork/src/test/kotlin/TestSettings.kt
  backend/shork/src/test/kotlin/TestShork.kt
Due: test-backend

Path conditions:
  prettier-npx: any of: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  test-backend: any of: ^backend/.*\.kt$
  test-frontend: any of: ^frontend/app/.*\.(js|jsx|ts|tsx)$
