Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: commintlinter
        name: Commit Linter
        entry: python scripts/commit_msg_linter.py
        language: python
        stages: [commit-msg]
      - id: prettier-npx
        name: Prettier using npx
        language: system
        entry: 'npx prettier --config ./frontend/app/.prettierrc --write'
        files: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
      - id: test-backend
        name: Run backend tests
        stages: [pre-push]
        entry: python ./scripts/run_gradle.py test
        language: python
        files: ^backend/.*\.kt$
        pass_filenames: false
      - id: test-frontend
        name: Frontend Tests
        stages: [pre-push]
        entry: npm run test run --prefix frontend/app
        language: system
        files: ^frontend/app/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: https://github.com/corewar-teamprojekt/ktfmt-pre-commit-hook
    rev: 0.8.0
    hooks:
    - id: ktfmt
      args: [--dry-run, --kotlinlang-style]
      stages: [pre-commit]
      files: ^backend/.*\.kt$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.12.0
    hooks:
      - id: eslint
        name: eslint
        files: ^frontend/app/.*\.(js|jsx|ts|tsx)$
        args: ['--config', './frontend/app/eslint.config.js']

[#328] Fix game data not including instruction placement reads/writes before round starts
  backend/shork/src/main/kotlin/Shork.kt
  backend/shork/src/test/kotlin/TestShork.kt
Due: test-backend

[#311] update architecture diagram- add set settings endpoint
  architecture.drawio
Due: none

[#311] add set settings endpoint to spec
  api-v1.md
Due: none

[#263] Add new tests for read and write distance
  backend/shork/src/test/kotlin/memory/TestMemoryCore.kt
Due: test-backend

[#263] Refactor address resolving
  backend/shork/src/main/kotlin/internal/instruction/AbstractArithmeticInstruction.kt
  backend/shork/src/main/kotlin/internal/instruction/AbstractInstruction.kt
  backend/shork/src/main/kotlin/internal/instruction/Dat.kt
  backend/shork/src/main/kotlin/internal/instruction/Djn.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmn.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmp.kt
  backend/shork/src/main/kotlin/internal/instruction/Jmz.kt
  backend/shork/src/main/kotlin/internal/instruction/Ldp.kt
  backend/shork/src/main/kotlin/internal/instruction/Mov.kt
  backend/shork/src/main/kotlin/internal/instruction/Nop.kt
  backend/shork/src/main/kotlin/internal/instruction/Seq.kt
  backend/shork/src/main/kotlin/internal/instruction/Slt.kt
  backend/shork/src/main/kotlin/internal/instruction/Sne.kt
  backend/shork/src/main/kotlin/internal/instruction/Spl.kt
  backend/shork/src/main/kotlin/internal/instruction/Stp.kt
  backend/shork/src/main/kotlin/internal/memory/ICore.kt
  backend/shork/src/main/kotlin/internal/memory/MemoryCore.kt
  backend/shork/src/main/kotlin/internal/memory/ResolvedAddresses.kt
  backend/shork/src/main/kotlin/internal/process/Process.kt
  backend/shork/src/test/kotlin/instruction/TestAdd.kt
  backend/shork/src/test/kotlin/instruction/TestDat.kt
  backend/shork/src/test/kotlin/instruction/TestDiv.kt
  backend/shork/src/test/kotlin/instruction/TestJmp.kt
  backend/shork/src/test/kotlin/instruction/TestMod.kt
  backend/shork/src/test/kotlin/instruction/TestMov.kt
  backend/shork/src/test/kotlin/instruction/TestMul.kt
  backend/shork/src/test/kotlin/instruction/TestNop.kt
  backend/shork/src/test/kotlin/instruction/TestSeq.kt
  backend/shork/src/test/kotlin/instruction/TestSlt.kt
  backend/shork/src/test/kotlin/instruction/TestSne.kt
  backend/shork/src/test/kotlin/instruction/TestSpl.kt
  backend/shork/src/test/kotlin/instruction/TestSub.kt
  backend/shork/src/test/kotlin/memory/TestMemoryCore.kt
  backend/shork/src/test/kotlin/mocks/KillProgramInstruction.kt
  backend/shork/src/test/kotlin/mocks/MockInstruction.kt
Due: test-backend

[#263] Rename resolveAll to resolveFields
  backend/shork/src/main/kotlin/internal/memory/ICore.kt
  backend/shork/src/main/kotlin/internal/memory/MemoryCore.kt
  backend/shork/src/main/kotlin/internal/process/Process.kt
  backend/shork/src/test/kotlin/instruction/TestAdd.kt
  backend/shork/src/test/kotlin/instruction/TestDat.kt
  backend/shork/src/test/kotlin/instruction/TestDiv.kt
  backend/shork/src/test/kotlin/instruction/TestJmp.kt
  backend/shork/src/test/kotlin/instruction/TestMod.kt
  backend/shork/src/test/kotlin/instruction/TestMov.kt
  backend/shork/src/test/kotlin/instruction/TestMul.kt
  backend/shork/src/test/kotlin/instruction/TestNop.kt
  backend/shork/src/test/kotlin/instruction/TestSeq.kt
  backend/shork/src/test/kotlin/instruction/TestSlt.kt
  backend/shork/src/test/kotlin/instruction/TestSne.kt
  backend/shork/src/test/kotlin/instruction/TestSpl.kt
  backend/shork/src/test/kotlin/instruction/TestSub.kt
  backend/shork/src/test/kotlin/memory/TestMemoryCore.kt
Due: test-backend

[#318] Add testing / manual example requests
  backend/api/exampleRequests/lobbyStuffV1.http
Due: none

[#318] Add implementation of query parameter
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Status.kt
Due: test-backend

[#318] Add tests
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#318] Update architecture diagram
  architecture.drawio
Due: none

[#307] change get lobby status API response from 400 to 404 to match updated spec and adjust tests accordingly
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#294] WIP: game visu page draft
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalTile/HexagonalTile.css
  frontend/app/src/components/hexagonalTile/HexagonalTile.tsx
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/main.tsx
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
  frontend/app/src/pages/gameVisu/gameVisu.css
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx, test-frontend

[#310] Implement endpoint and method for get settings with tests
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/InterpreterSettings.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#333] Add negative number regression test
  backend/shork/src/test/kotlin/compiler/TestParser.kt
Due: test-backend

[#333] Fix negative number parsing
  backend/shork/src/main/kotlin/internal/compiler/Parser.kt
Due: test-backend

[#327] Add Compiler E2E test for imp
  backend/shork/src/test/kotlin/compiler/CompilerE2E.kt
Due: test-backend

[#327] Add test for dwarf
  backend/shork/src/main/kotlin/internal/instruction/Add.kt
  backend/shork/src/test/kotlin/compiler/CompilerE2E.kt
Due: test-backend

[#262] add authentication before submitting code to a lobby and adjust tests accordingly
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#154] check if uploaded file contains unreadable characters
  frontend/app/src/components/CodeEditor/CodeEditor.tsx
Due: prettier-npx, test-frontend

[#0] Fix resolve for Pre-Decrement/Post-Increment
  backend/shork/src/main/kotlin/internal/instruction/Add.kt
  backend/shork/src/main/kotlin/internal/memory/MemoryCore.kt
Due: test-backend

[#312] Implement POST endpoint for setting lobby settings
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/domain/InterpreterSettings.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#312] add tests for POST endpoint to set lobby settings
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#336] fix used endpoint path
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#336] fix usage of linting endpoint
  frontend/app/src/components/CodeEditor/CodeEditor.test.tsx
  frontend/app/src/components/CodeEditor/CodeEditor.tsx
  frontend/app/src/domain/LinterLint.ts
Due: prettier-npx, test-frontend

[#294] game visu prototype
  frontend/app/src/TestFactories.ts
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalTile/HexagonalTile.css
  frontend/app/src/components/hexagonalTile/HexagonalTile.tsx
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/main.tsx
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
  frontend/app/src/pages/gameVisu/gameVisu.css
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx, test-frontend

[#294] greatly improve performance of hexBoard updates
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.css
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.test.tsx
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalTile/HexagonalTile.css
  frontend/app/src/components/hexagonalTile/HexagonalTile.tsx
Due: prettier-npx, test-frontend

[#294] always compute remainder of addresses
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
Due: prettier-npx, test-frontend

[#294] add corewar icon to header and change player colors to match branding
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
  frontend/app/src/services/userContext/UserContext.test.tsx
  frontend/app/src/services/userContext/UserContextHelpers.ts
Due: prettier-npx, test-frontend

[#294] slight performance boost for the hex board by collecting updates
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.test.tsx
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalBoardBackground/HexagonalBoardBackground.tsx
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
Due: prettier-npx, test-frontend

[#294] change loading spinner to corewar icon
  frontend/app/src/components/loadingSpinner/LoadingSpinner.tsx
Due: prettier-npx, test-frontend

[#294] disable e2e for testing in deployment
  e2e/tests/fullUserflow.spec.ts
Due: none
