Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

prettier-npx:
  name: Prettier using npx
  language: system
  entry: npx prettier --config ./frontend/app/.prettierrc --write

test-backend:
  name: Run backend tests
  stages:
  - pre-push
  entry: python ./scripts/run_gradle.py test
  language: python
  pass_filenames: false

test-frontend:
  name: Frontend Tests
  stages:
  - pre-push
  entry: npm run test run --prefix frontend/app
  language: system
  pass_filenames: false

[#227] Integrate Compiler into shork
  backend/shork/src/main/kotlin/Shork.kt
  backend/shork/src/main/kotlin/internal/compiler/Compiler.kt
Due: test-backend

[#217] Fix minor issues in create lobby endpoint, Add tests, clean up create lobby code (no more parsing by hand)
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#217] recover lost function resetLobby and adjust addProgramToLobby accordingly
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
Due: test-backend

[#217] make resetLobby private
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
Due: test-backend

[#217] copy & paste changes from original issue branch and remove API V0 changes to restore original behaviour
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/Lobby.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#217] Separate out V0 api into separate use case, service and controller
  backend/api/src/main/kotlin/software/shonk/Application.kt
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/V0ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/V0ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/V0ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/AbstractControllerTest.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV0IT.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#217] Rebase on main and fix gameresult usage
  backend/api/src/main/kotlin/software/shonk/application/service/V0ShorkService.kt
Due: test-backend

[#218] add technologies section to readme
  README.md
Due: none

[#202] add tests for LobbySelection
  frontend/app/src/components/LobbySelection/LobbySelection.test.tsx
Due: prettier-npx, test-frontend

[#202] write tests for LobbySelectionPage
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#202] implement first draft of LobbySelection component
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/components/ui/table.tsx
Due: prettier-npx, test-frontend

[#202] implement mocked getLobbies Enpoint (prod code commented out)
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#202] implement LobbySelectionPage
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/main.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
Due: prettier-npx, test-frontend

[#202] fix behavior of LobbySelectionPage to disable lobbies from shifting
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/consts.ts
  frontend/app/src/domain/Lobby.ts
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
Due: prettier-npx, test-frontend

[#202] add test for joining correct lobby
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
Due: prettier-npx, test-frontend

[#202] remove mocklobbies from restservice
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#202] move mockLobbies to TestFactory
  frontend/app/src/TestFactories.ts
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#202] shift logic if lobby is full into Lobby class and implement equals function
  frontend/app/src/components/LobbySelection/LobbySelection.test.tsx
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/domain/Lobby.ts
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/services/lobbyContext/LobbyContext.test.tsx
Due: prettier-npx, test-frontend

[#202] write tests for LobbySelectionPage
  frontend/app/src/TestFactories.ts
  frontend/app/src/components/LobbySelection/LobbySelection.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
Due: prettier-npx, test-frontend

Mark lobby table page as implemented
  architecture.drawio
Due: none

[#256] Change parameter names in arithmetic instruction for clarity
  backend/shork/src/main/kotlin/internal/instruction/AbstractArithmeticInstruction.kt
  backend/shork/src/main/kotlin/internal/instruction/Add.kt
  backend/shork/src/main/kotlin/internal/instruction/Div.kt
  backend/shork/src/main/kotlin/internal/instruction/Mod.kt
  backend/shork/src/main/kotlin/internal/instruction/Mul.kt
  backend/shork/src/main/kotlin/internal/instruction/Sub.kt
Due: test-backend

[#256] Fix operation order for the DIV instruction
  backend/shork/src/main/kotlin/internal/instruction/Div.kt
  backend/shork/src/test/kotlin/instruction/TestDiv.kt
Due: test-backend

[#256] Fix operation order for the MOD instruction
  backend/shork/src/main/kotlin/internal/instruction/Mod.kt
  backend/shork/src/test/kotlin/instruction/TestMod.kt
Due: test-backend

[#256] Fix operation order for the SUB instruction
  backend/shork/src/main/kotlin/internal/instruction/Sub.kt
  backend/shork/src/test/kotlin/instruction/TestSub.kt
Due: test-backend

[#196] implement lobby state management
  frontend/app/src/TestFactories.ts
  frontend/app/src/domain/Lobby.ts
  frontend/app/src/services/lobbyContext/LobbyContext.test.tsx
  frontend/app/src/services/lobbyContext/LobbyContext.tsx
  frontend/app/src/services/lobbyContext/LobbyContextHelpers.ts
Due: prettier-npx, test-frontend

Path conditions:
  prettier-npx: any of: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  test-backend: any of: ^backend/.*\.kt$
  test-frontend: any of: ^frontend/app/.*\.(js|jsx|ts|tsx)$
