Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: commintlinter
        name: Commit Linter
        entry: python scripts/commit_msg_linter.py
        language: python
        stages: [commit-msg]
      - id: prettier-npx
        name: Prettier using npx
        language: system
        entry: 'npx prettier --config ./frontend/app/.prettierrc --write'
        files: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
      - id: test-backend
        name: Run backend tests
        stages: [pre-push]
        entry: python ./scripts/run_gradle.py test
        language: python
        files: ^backend/.*\.kt$
        pass_filenames: false
      - id: test-frontend
        name: Frontend Tests
        stages: [pre-push]
        entry: npm run test run --prefix frontend/app
        language: system
        files: ^frontend/app/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  - repo: https://github.com/corewar-teamprojekt/ktfmt-pre-commit-hook
    rev: 0.8.0
    hooks:
    - id: ktfmt
      args: [--dry-run, --kotlinlang-style]
      stages: [pre-commit]
      files: ^backend/.*\.kt$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.12.0
    hooks:
      - id: eslint
        name: eslint
        files: ^frontend/app/.*\.(js|jsx|ts|tsx)$
        args: ['--config', './frontend/app/eslint.config.js']

[#202] implement mocked getLobbies Enpoint (prod code commented out)
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#202] shift logic if lobby is full into Lobby class and implement equals function
  frontend/app/src/components/LobbySelection/LobbySelection.test.tsx
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/domain/Lobby.ts
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/services/lobbyContext/LobbyContext.test.tsx
Due: prettier-npx, test-frontend

[#202] remove mocklobbies from restservice
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#202] implement LobbySelectionPage
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/main.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
Due: prettier-npx, test-frontend

[#202] implement first draft of LobbySelection component
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/components/ui/table.tsx
Due: prettier-npx, test-frontend

[#202] write tests for LobbySelectionPage
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#196] implement lobby state management
  frontend/app/src/TestFactories.ts
  frontend/app/src/domain/Lobby.ts
  frontend/app/src/services/lobbyContext/LobbyContext.test.tsx
  frontend/app/src/services/lobbyContext/LobbyContext.tsx
  frontend/app/src/services/lobbyContext/LobbyContextHelpers.ts
Due: prettier-npx, test-frontend

[#202] move mockLobbies to TestFactory
  frontend/app/src/TestFactories.ts
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#202] fix behavior of LobbySelectionPage to disable lobbies from shifting
  frontend/app/src/components/LobbySelection/LobbySelection.tsx
  frontend/app/src/consts.ts
  frontend/app/src/domain/Lobby.ts
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
Due: prettier-npx, test-frontend

[#202] write tests for LobbySelectionPage
  frontend/app/src/TestFactories.ts
  frontend/app/src/components/LobbySelection/LobbySelection.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
Due: prettier-npx, test-frontend

[#202] add tests for LobbySelection
  frontend/app/src/components/LobbySelection/LobbySelection.test.tsx
Due: prettier-npx, test-frontend

[#202] add test for joining correct lobby
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
Due: prettier-npx, test-frontend

[#189] add player icons
  frontend/app/src/assets/bluePlayerIcon.svg
  frontend/app/src/assets/redPlayerIcon.svg
Due: none

[#189] add new class LobbyRest and implement some endpoint-usages
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.test.tsx
  frontend/app/src/pages/lobbySelectionPage/LobbySelectionPage.tsx
  frontend/app/src/services/rest/LobbyRest.ts
  frontend/app/src/services/rest/RestService.ts
Due: prettier-npx, test-frontend

[#189] start implementing first draft of PlayerSelectionPage
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#0] fix unassigning issue workflow
  .github/workflows/unassign-issues.yaml
Due: none

[#243] fix container not trapping SIGTERM
  misc/entrypoint.sh
Due: none

[#212] getAllLobbies method and endpoint alongside tests implemented
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/main/kotlin/software/shonk/domain/LobbyStatus.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#189] finish PlayerSelectionPage and implement its test
  frontend/app/src/pages/playerSelection/PlayerSelection.module.css
  frontend/app/src/pages/playerSelection/PlayerSelection.test.tsx
  frontend/app/src/pages/playerSelection/PlayerSelection.tsx
Due: prettier-npx, test-frontend

[#151] setup more infra for e2e tests
  e2e/package.json
  e2e/playwright.config.ts
  e2e/taskfile.yaml
  e2e/tests/fullUserflow.spec.ts
  taskfile.yaml
Due: none

[#151] adjust github actions for e2e infra
  .github/workflows/build-and-deploy.yml
  .github/workflows/deployment-cleanup.yml
  .github/workflows/unassign-issues.yaml
Due: none

[#151] skip firefox e2e tests for now
  e2e/playwright.config.ts
Due: none

[#151] first userflow e2e test
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/fullUserflow.spec.ts
Due: none

[#215] add tests to ShorkServiceTest to verify join lobby endpoint functionality
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#215] add sequence diagram detailing the v1 join lobby endpoint
  architecture.drawio
Due: none

[#215] throw HttpStatusCode 404, when lobby doesn't exist
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#215] implement join lobby endpoint according to spec + tests, architecture diagram already includes this endpoint so no changes in that regard
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
Due: test-backend

[#215] adjust v1 join spec to return 404 when there is no lobby with the specified id
  api-v1.md
Due: none

[#215] add tests to ShorkServiceTest to verify join lobby endpoint functionality
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend
