Repository corewar-teamprojekt/corewar: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-npx, test-backend, test-frontend

prettier-npx:
  name: Prettier using npx
  language: system
  entry: npx prettier --config ./frontend/app/.prettierrc --write

test-backend:
  name: Run backend tests
  stages:
  - pre-push
  entry: python ./scripts/run_gradle.py test
  language: python
  pass_filenames: false

test-frontend:
  name: Frontend Tests
  stages:
  - pre-push
  entry: npm run test run --prefix frontend/app
  language: system
  pass_filenames: false

[#294] add infodumps and skip to visu
  frontend/app/src/components/hexagonalBoardBackground/HexagonalBoardBackground.css
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
  frontend/app/src/pages/gameVisu/gameVisu.css
Due: prettier-npx, test-frontend

[#294] prepare for merge into main
  e2e/playwright.config.ts
  e2e/tests/fullUserflow.spec.ts
  frontend/app/src/main.tsx
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx, test-frontend

[#294] disable e2e for testing in deployment
  e2e/tests/fullUserflow.spec.ts
Due: none

[#294] change loading spinner to corewar icon
  frontend/app/src/components/loadingSpinner/LoadingSpinner.tsx
Due: prettier-npx, test-frontend

[#294] game visu prototype
  frontend/app/src/TestFactories.ts
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalTile/HexagonalTile.css
  frontend/app/src/components/hexagonalTile/HexagonalTile.tsx
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/main.tsx
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
  frontend/app/src/pages/gameVisu/gameVisu.css
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.test.tsx
  frontend/app/src/pages/waitingForResult/WaitingForResultPage.tsx
Due: prettier-npx, test-frontend

[#294] greatly improve performance of hexBoard updates
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.css
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.test.tsx
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalTile/HexagonalTile.css
  frontend/app/src/components/hexagonalTile/HexagonalTile.tsx
Due: prettier-npx, test-frontend

[#294] always compute remainder of addresses
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
Due: prettier-npx, test-frontend

[#294] add corewar icon to header and change player colors to match branding
  frontend/app/src/components/header/Header.test.tsx
  frontend/app/src/components/header/Header.tsx
  frontend/app/src/services/userContext/UserContext.test.tsx
  frontend/app/src/services/userContext/UserContextHelpers.ts
Due: prettier-npx, test-frontend

[#294] slight performance boost for the hex board by collecting updates
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.test.tsx
  frontend/app/src/components/hexagonalBoard/HexagonalBoard.tsx
  frontend/app/src/components/hexagonalBoardBackground/HexagonalBoardBackground.tsx
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
Due: prettier-npx, test-frontend

[#340] integrate CodeExamples into Page
  frontend/app/src/components/CodeEditor/CodeEditor.tsx
  frontend/app/src/components/ProgramInput/ProgramInput.tsx
Due: prettier-npx, test-frontend

[#340] add code-examples
  frontend/app/src/domain/CodeExample.ts
  frontend/app/src/lib/CodeExamples.ts
Due: prettier-npx, test-frontend

[#340] implement CodeExampleCard
  frontend/app/src/components/CodeExampleCard/CodeExampleCard.tsx
Due: prettier-npx, test-frontend

[#262] resolve change requests, move logic for player verification to service layer
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#262] adjust some tests
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#340] implement tests for CodeExampleCard
  frontend/app/src/components/CodeExampleCard/CodeExampleCard.test.tsx
  frontend/app/src/lib/CodeExamples.ts
Due: prettier-npx, test-frontend

[#262] add authentication before submitting code to a lobby and adjust tests accordingly
  backend/api/src/main/kotlin/software/shonk/adapters/incoming/ShorkInterpreterController.kt
  backend/api/src/main/kotlin/software/shonk/application/port/incoming/ShorkUseCase.kt
  backend/api/src/main/kotlin/software/shonk/application/service/ShorkService.kt
  backend/api/src/test/kotlin/software/shonk/adapters/incoming/ShorkInterpreterControllerV1IT.kt
  backend/api/src/test/kotlin/software/shonk/application/service/ShorkServiceTest.kt
Due: test-backend

[#0] add container instruction section to readme
  README.md
Due: none

[#332] Update architecture diagram
  architecture.drawio
Due: none

[#341] remove live deployment workflows + documentation
  .github/workflows/build-and-deploy.yml
  .github/workflows/deployment-cleanup.yml
  README.md
Due: none

[#341] remove unassign idle issue workflow
  .github/workflows/unassign-issues.yaml
Due: none

[#110] fix playwright test
  e2e/tests/fullUserflow.spec.ts
Due: none

[#110] Add basic infodumps and cheat sheet
  frontend/app/src/pages/landingPage/LandingPage.module.css
  frontend/app/src/pages/landingPage/LandingPage.tsx
Due: prettier-npx, test-frontend

[#110] fix infodump css
  frontend/app/src/pages/landingPage/LandingPage.module.css
Due: prettier-npx

[#110] Remove unused panel
  frontend/app/src/pages/landingPage/LandingPage.tsx
Due: prettier-npx, test-frontend

prepare for live demo
  backend/shork/src/main/kotlin/Settings.kt
  frontend/app/src/lib/CodeExamples.ts
  frontend/app/src/pages/gameVisu/GameVisuPage.tsx
  frontend/app/src/pages/gameVisu/gameVisu.css
Due: prettier-npx, test-backend, test-frontend

[#341] remove unassign issue workflow
  .github/workflows/unassign-issues.yaml
Due: none

[#350] rewrite visu with canvas
  frontend/app/src/components/canvasVisu/CanvasVisu.css
  frontend/app/src/components/canvasVisu/CanvasVisu.tsx
  frontend/app/src/components/canvasVisu/CanvasVisuProps.ts
  frontend/app/src/domain/LobbyStatus.ts
  frontend/app/src/lib/DefaultTileProps.ts
  frontend/app/src/lib/utils.ts
  frontend/app/src/main.tsx
  frontend/app/src/pages/canvasGameVisuPage/CanvasGameVisuPage.tsx
  frontend/app/src/pages/canvasGameVisuPage/canvasGameVisu.css
Due: prettier-npx, test-frontend

Path conditions:
  prettier-npx: any of: ^frontend/app/src/.*\.(js|jsx|ts|tsx|json|css|scss|md)$
  test-backend: any of: ^backend/.*\.kt$
  test-frontend: any of: ^frontend/app/.*\.(js|jsx|ts|tsx)$
